/* CSS files add styling rules to your content */

.place {
  color: #54428E;
  background-color: #AFE3C0;
  position: relative;
  top: 50px;
  margin: auto;
  padding: 1%;
  width: 95%;
  height: 400px;
  box-shadow: 15px 15px #90C290;
}

.place_img {
  border: #8963BA groove 15px;
  height: 75%;
  position: absolute;
  top: 8.75%;
  right: 15px;
}

.heading_span {
  color: #688B58;
  text-shadow: 0.7px 0.7px 0.2px #8963BA;
  font-size: 2em;
}

#navbar {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  position: sticky;
  bottom: 0px;
  background-color: #688B58;
  z-index: 1;
  width: 100%;
  height: 200px;
}

.navbar_link {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  color: #688B58;
  background-color: #54428E;
  padding: 20px;
  text-align: center;
}

.head {
  color: #688B58;
  text-shadow: 0.7px 0.7px 0.2px #8963BA;
  text-align: center;
  font-size: 3em;
}

a {
  color: #688B58;
  background-color: #54428E;
  text-align: center;
}

.place p {
  font-size: 30px;
  width: 55%;
}